.form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: $color-neutral-white;

  &--type {
    margin: 0 0 10px;
  }

  &--reply {
    width: 90%;
  }

  &--edit {
    width: 100%;
  }

  &__textarea {
    grid-area: 1/1/2/-1;
    margin-bottom: 10px;
    padding: 10px;
    height: 80px;
    resize: none;
    font-family: $font-family-default;
    border-radius: 5px;
    border-color: $color-neutral-light-gray;

    &:focus {
      border-color: $color-neutral-grayish-blue;
    }
  }

  &__avatar-container {
    grid-area: 2/1/3/2;
    width: 38px;
  }

  &__avatar {
    width: 100%;
  }

  &__btn {
    grid-area: 2/3/3/4;
    display: block;
    padding: 10px 20px;
    font-size: $font-size-default;
    font-weight: 500;
    color: $color-neutral-white;
    text-transform: uppercase;
    border-style: none;
    border-radius: 5px;
    background-color: $color-primary-moderate-blue;
    cursor: pointer;
  }

  @media screen and (orientation: landscape) {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    align-items: start;
    padding: 20px;

    &--edit {
      padding-left: 0;
    }

    &__textarea {
      grid-area: 1/2/2/3;
      margin: 0 20px;

      &--edit {
        margin-left: 0;
      }
    }

    &__avatar-container {
      grid-area: 1/1/2/2;
    }

    &__btn {
      grid-area: 1/3/2/4;
    }
  }

  @include mq(xsmall, port) {
    padding: 20px;
  }
}
