*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-default;
  font-size: $font-size-default;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-neutral-very-light-grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary-light-graylish-blue;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-primary-moderate-blue;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
}
